/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin: 0 1px;
}

a {
    text-decoration: none;
}


h1,h2 {
    font-family: 'Life Savers', cursive;
    font-weight: 400;
}

.sticky-nav-wrapper {
    height: 80px;
    position: fixed;
    top: 0px;
}


nav {
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 11px rgba(185, 185, 185, .6);
  transition: all 300ms ease-out;
  z-index: 9999999;
}

nav > ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    font-size: 24px;
}

nav~a {
    display: inline-block;
    margin: 1rem;
    padding: .25rem 0;
    text-decoration: none;
}

nav .active {
  border-top: 2px solid #B9B9B9;
}

.scrolled {
  top: 80px;
}


ul.main-menu li {
    padding: 20px;
    margin: 2px;
}

ul.main-menu li:link {
    color: #E5E2F6;
    text-decoration: none;
}

ul.main-menu li a {
    color: inherit;
}

ul.main-menu li:hover {
    background-color: #E5E2F6;
    color: #424242;
    text-decoration: none;
}

ul.main-menu li a:active {
    background-color: #E5E2F6;
    color: #424242;
    top: 1px;
    text-decoration: none;
}

ul.main-menu li a:visited {
    color: inherit;
}


img#logo {
    float: left;
    height: 55px;
    padding: 10px 0;
    margin-left: 10px;
}


.title-block, .about-section, .vote-section, .photos-section, .contact-section {
    clear: both;
    text-align: center;
    height: auto;
    margin: 15px;
    padding-bottom: 50px;
}

.title-block, .about-section, .vote-section, .photos-section {
    border-bottom: 1px dotted #B9B9B9;
}


h1 {
    font-size: 28px;
    padding-top: 50px;
    margin: 0;
}

div.title-block {
    padding: 80px 0 0 0;
    background: url("../img/gradient.png"), url("../img/lara01.jpg") no-repeat center 65px;
    background-size: cover;
    height: 550px;
    margin: 0 0 0 0;
}

.title-block h1 {
    font-size: 80px;
    font-weight: 700;
    color: white;
    margin-top: 100px;
}

.title-block p {
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    color: white;
    margin-top: 80px;
}


h2 {
    font-size: 36px;
    text-align: center;
}


.about-section p {
    padding: 10px;
    font-size: 18px;
    margin: 0 0 10px 0;
}


div.photos-section {
    height: 500px;
    text-align: left;
}

div.instagram-media {
    background:#FFF; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 10px; 
    max-width:658px; 
    padding: 0; 
    width:-webkit-calc(100% - 2px); 
    width:calc(100% - 2px);
    width: 23%;
    display: inline-block;
}

div.insta-1 {
    padding: 8px;
}

.insta-2 {
    background:#F8F8F8; 
    line-height:0; 
    padding:62.5% 0; 
    text-align:center; 
    width:100%;
    height: auto;
}

#insta-3a {
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC"); 
    display:inline-block; 
    height:44px; 
    margin:0 auto -44px; 
    position:relative; 
    top:-22px; 
    width:44px;
    clear:both;
}

#insta-3b {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); 
    display:inline-block; 
    height:44px; 
    margin:0 auto -44px; 
    position:relative; 
    top:-22px; 
    width:44px;
}

#insta-3c {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); 
    display:inline-block; 
    height:44px; 
    margin:0 auto -44px; 
    position:relative; 
    top:-22px; 
    width:44px;
}

#insta-3d {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); 
    display:inline-block; 
    height:44px; 
    margin:0 auto -44px; 
    position:relative; 
    top:-22px; 
    width:44px;
}

.instagram-media p {
    color:#c9c8cd; 
    font-family: 'Source Sans Pro',sans-serif; 
    font-size:14px; 
    line-height:17px; 
    margin-bottom:0; 
    margin-top:8px; 
    overflow:hidden; 
    padding:8px 0 7px; 
    text-align:left: ; 
    white-space:normal;
}

.instagram-media a {
    color:#c9c8cd; 
    font-family: 'Source Sans Pro',sans-serif; 
    font-size:12px; 
    font-style:normal; 
    font-weight:normal; 
    line-height:14px; 
    text-decoration: none; 
    overflow-wrap: break-word;
}


.contact-section {
    width: 80%;
    margin: 0 auto;
}

.contact-left {
    float: left;
    width: 50%;
    height: 126px;
}

.contact-left input {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border: 1px solid #B9B9B9;
    border-radius: 3px;
}

.contact-left input:last-of-type {
    margin: 0 15px 15px 15px;
}

.contact-right {
    float: left; 
    width: 50%;
    height: 126px;
}

.contact-right textarea {
    width: 90%;
    height: 82px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #B9B9B9;
    border-radius: 3px;
}

input.submit {
    margin-top: 10px;
    width: 40%;
    padding: 1%;
    border: 1px solid #B9B9B9;
    border-radius: 3px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
}

input, textarea {
    box-shadow: 1px 1px 3px 0px rgba(185,185,185,0.15);
}

.clicked-button {
    background-color: #9E9DC5;
    top: 1px;
    -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.1);
    box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.1);
}

.hover-button {
    -webkit-box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.3);
    background-color: #E9DAFF;
}

footer {
    clear: both;
    border-top: 1px dotted #B9B9B9;
}

footer p {
    float: left;
    margin-left: 5px;
}

footer ul {
    float: right;
    list-style-type: none;
}

footer li {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}

footer img {
    height: 20px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
